<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Ver Productos</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" th:href="@{/css/estilos.css}">

 

</head>
<body>

	<!-- Barra de navegacion -->
	<header th:fragment="header">
       <div class="container">                
                    <h1>Productos Artesanales Cázares <small class="text-muted">        
                    <br>Vinos, sidras y más</small> </h1>
             </div>
           
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class = "container">
				<a class="navbar-brand" href="#"><strong> P A C</strong></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<!-- Enlaces del menú -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/home}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/productos/verproductos}"> <span class="glyphicon glyphicon-shopping-cart"></span> Productos</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/ubicanos}"> <span class="glyphicon glyphicon-map-marker"></span> Ubicanos</a></li>
					</ul>
				</div>
				
					<ul class="nav navbar-nav navbar-right">
       			 <li class="nav-item"><a class="nav-link" th:href="@{/empleado/validar}"><span class="glyphicon glyphicon-log-in"></span> Acceder</a></li>
      		</ul>
			</div>
			
		
		</nav>
		
	
	</header>
	<!-- Contenido -->

	<div class="container">
				
					<div class="card bg-light">
			<table class="table ">
			<thead class="table-dark">
				<tr>
					<th scope="col">Imagen</th>
					<th scope="col">Nombre</th>
					<th scope="col">Precio</th>
					<th scope="col">Descripción</th>
					<th scope="col">Categoría</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="cl:${productos}">
					<td>
					<img id = "imgdetalle" class="img-thumbnail rounded float-left"
						th:src="@{'/images/' + ${cl.imagen}}" 
								th:alt="${cl.imagen}" style="max-width: 80%;">
								</td>
					<td th:text="${cl.nombrep}"></td>
					<td th:text="${cl.precio}"></td>
					<td th:text="${cl.descripcion}"></td>
					<td th:text="${cl.categoria.nombrec}"></td>
				</tr>
			</tbody>
		</table>
		
						<!-- 		<div class="col col-lg-3">
								th:src="@{'/recursos/' + ${producto.imagen}}"
						
							<img id = "imgdetalle" class="img-thumbnail rounded float-left"
						th:src="@{'/images/' + ${productos.imagen}}" 
								th:alt="${productos.imagen}" style="max-width: 80%;">
						</div>
				
					
						<div class= "col col-lg-9">
							<ul class="list-group">
								<li class="list-group-item"
									th:text="'Nombre del producto: ' +${productos.nombrep}"></li>
								<li class="list-group-item"
									th:text="'Precio: ' +${productos.precio}"></li>
								<li class="list-group-item"
									th:text="'Descripcion: ' +${productos.descripcion}"></li>
								<li class="list-group-item"
									th:text="'Categoria: ' +${productos.categoria.nombrec}"></li>
							</ul>
						</div> -->
		</div>
				
		</div>		
	<!-- Pie de pagina -->
	<footer th:fragment="footer" class="bg-dark text-white text-center">

		<div class="container">
			<p>Copyright Alex &copy; -2021</p>
		</div>

		<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	</footer>
</body>