<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "plantilla/template :: head">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
	<header th:replace="plantilla/template :: header" class="active"></header>
	<div class = container>
		<div class="jumbotron">


<section id="galeria">
<div class="card text-center">
  <div class="text-center pt-5">
  <div class="card-header">
    <h2>Bienvenidos a productos Artesanales Cázares</h2>
    </div>
    <h2>Disfrute nuestra gran variedad de productos</h2>  
  </div>
  </div>
<div class="col-lg-4">
  
  <img src="/images/img1.jpg" alt="Galeria Imagen">
</div>
<div class="col-lg-4">
  <img src="/images/img2.jpg" alt="Galeria Imagen">
</div>
<div class="col-lg-4">
  <img src="/images/img3.jpg" alt="Galeria Imagen">
</div>
<div class="col-lg-4">
  <img src="/images/1.jpeg" alt="Galeria Imagen">
</div>
<div class="col-lg-4">
  <img src="/images/2.jpeg" alt="Galeria Imagen">
</div>
<div class="col-lg-4">
  <img src="/images/3.jpeg" alt="Galeria Imagen">
</div>
</section>

<div class = "container">
<div class="container text-center">
<div class="card card-header">
<h2>Ven y deleita la gran variedad de vinos y licores que tenemos para tí y tu familia</h2>
</div>
</div>
</div>

<div class="card text-center">
  <div class="card-header">
Visitanos en nuestras tiendas
  </div>
  <div class="card-body">
    <h5 class="card-title">Vinos, Sidras, Salsas, Cremas y Otros productos te ofrecemos</h5>
    <p class="card-text">Ven y disfruta de nuestras pruebas</p>
  </div>
</div>

	</div>
	</div>
	<footer  th:replace="plantilla/template :: footer"></footer>
</body>
</html>