<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
<meta charset="UTF-8">

</head>
<body>
	<header th:replace="plantilla/template :: header" class="active"></header>

	
		<div class="container">
		<div class="jumbotron">
		<div class="card-header">
			<h2>

				ANDADOR INDEPENDENCIA #4 <br> COL. CENTRO HISTÓRICO <br>
				ZACATLÁN, PUEBLA
			</h2>

			<h2>
				TEL: 797 975 1517 <br> CEL: 797 113 9855
			</h2>


			<hr>
			<h2>Calle Francisco Cosío, Centro, Col Sta Julia, 73310
				Zacatlán, Pue.</h2>
</div>
			<br>
			<div class="card-header">
			<div class="container">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.8186654663627!2d-97.9621042831573!3d19.932044878359193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d06fdf3f2c9fe3%3A0xf990ba8e9cb81b5e!2sProductos%20Artesanales%20Cazares!5e0!3m2!1ses-419!2smx!4v1613663236848!5m2!1ses-419!2smx"
					width="400" height="250" frameborder="0" style="border: 0;"
					allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
			</div>
		</div>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>